<div class="row">
<h3><%= @note.title %></h3>
	<p><%= @note.body %></p>
	<p><% @note.tags.each do |tag| %><%= link_to "#{tag.name}(#{tag.notes.count})", notes_path(tag_name: tag.name, tag_id: tag.id), class: 'button success tiny round' %><% end %></p>
	<p>Created <%= time_ago_in_words(@note.created_at) %> ago</p>

	<% if current_user == @note.user && @note.shares.any? %>
		<%= link_to "Manage Accesses", shares_path, class: 'button tiny round notice' %>
	<% end %>	
</div>